footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.search-content-wrapper-top {
    display: none;
}
/* old styles */

/*.overlay_popup {*/
    /*display:none;*/
    /*position:fixed;*/
    /*z-index: 1;*/
    /*top:0;*/
    /*right:0;*/
    /*left:0;*/
    /*bottom:0;*/
    /*background:#000;*/
    /*opacity:0.8;*/
/*}*/

/*.popup {*/
    /*display: none;*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*margin: 0 25% 0 25%;*/
    /*width: 50%;*/
/*}*/

/*.object{*/
    /*width: 100%;*/
    /*height: 165px;*/
    /*background-color: #EEEEEE;*/
    /*padding: 10px 10px;*/
    /*border-radius: 10px;*/
    /*border: 2px solid #EEEEEE;*/
	/*box-shadow: 1px 1px 1px #999999;*/
	/*font-size: 15px;*/
	/*color: #000000;*/
	/*font-weight: 600;*/
/*}*/

/*.div-players div {*/
    /*cursor: pointer;*/
    /*margin: 10px 0 0 0;*/
    /*border: 2px solid slategray;*/
    /*border-radius: 5px;*/
    /*text-align: center;*/
    /*font-size: 20px;*/
    /*font-weight: 700;*/
    /*background-color: #F0FFFF;*/
/*}*/

/*div.wrap-table {*/
	/*display: inline-block;*/
	/*text-align: center;*/
	/*width: 60%;*/
/*}*/

/*table.main-table {*/
	/*width: 100%;*/
/*}*/

/*table.main-table th, table.main-table td {*/
	/*text-align: left;*/
	/*font-family: Brush Script MT, Brush Script Std, cursive;*/
	/*font-size: 25px;*/
    /*padding: 10px;*/
/*}*/

/*div.start-game {*/
	/*margin-bottom: 20px;*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
	/*h1.heading8 {*/
		/*font-size: 2em !important;*/
	/*}*/
/*}*/

/*button.get-strong-team, button.get-weak-team {*/
	/*margin-bottom: 10px;*/
/*}*/


/*@media only screen and (max-width: 768px) {*/
	/*table.main-table th, table.main-table td {*/
		/*font-size: 18px;*/
		/*padding: 5px;*/
	/*}*/
/*}*/

/*@media only screen and (max-width: 480px) {*/
	/*table.main-table th, table.main-table td {*/
		/*font-size: 14px;*/
		/*padding: 2px;*/
	/*}*/
	/*div.wrap-table {*/
		/*width: 95%;*/
	/*}*/
/*}*/
	
/*finish old slyles*/

/*new styles*/

/*удалить, чтобы отображалась основная картинка*/
#page.site {
    background: #97c3b2 !important;
}

.site-header {
    background-color: #FFFFFF;
}

.btn-menu .fa-navicon {
    color: #000000;
}

.start-content {
    display: none;
}

.start-content.active {
    display: block;
}

.custom-button {
    line-height: normal;
    margin: 5px;
    padding: 5px 10px;
}

.next-button-block button {
	font-size: 1em;
    margin-top: 10px;
    font-weight: 600;
}

.next-button {
    margin-bottom: 20px;
    background: #2b3339;
}

.next-button:focus {
    outline: 5px solid;
    border-radius: 5px;
    box-shadow: none;
}

.add-player-wrapper {
    transition: 1s ease-in-out;
}

.new-player-button:focus, .del-player-button:focus {
    box-shadow: none;
}

.invisible {
    opacity: 0;
    pointer-events: none;
    transition: 1s ease-in-out;
}

.fm-input {
	line-height: normal;
	background: #D3D3D3;
    padding: 5px;
    border: none !important;
    color: #000000;
    font-weight: 600;
}

.fm-input:focus {
    border: none !important;
    font-weight: 600;
    outline: 2px solid #999999
}

input[name=player-name] {
    width: 25% !important;
}


.players-view {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    -webkit-justify-content: space-around; /* Safari */
    justify-content: space-around;
    margin-bottom: 10px;
}

.one-player {
	margin: 5px;
    padding: 0 10px;
    background: #2b3339;
    box-shadow: 0 1px 2px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
    cursor: pointer;
    transition: background 500ms ease-in-out;
    border-radius: 5px;
    letter-spacing: 0.2125rem;
    color: #FFFFFF;
    font-weight: 600;
}

.one-player:hover {
    background: #9999;
    font-weight: 600;
    color: #000000;
	transition: background 500ms ease;
}

.delete-player:hover {
    background: #DC0008;
    font-weight: 600;
    color: #000000;
    cursor: no-drop;
}

.delete-player {
    background: #dc3545;
    transition: 1s ease-in-out;
    color: #FFFFFF;
}

.chosen-players-view {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    -webkit-justify-content: space-around; /* Safari */
    justify-content: space-around;
}

.chosen-player {
    font-weight: 600;
    color: #000000;
    text-align: left;
    cursor: pointer;
}

.main-navigation  a {
	color: #000000;
}

.main-wrapper {
	text-align: center
}

.button-wrapper {
    margin: 200px 0;
}

/*start button start tournament styles*/

.button-tournament {
    background: rgba(43, 51, 57, 0.9);
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.2125rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.3em;
    color: #FFFFFF;
    font-family: "Varela Round";
    text-decoration: none;
    font-weight: 600;
    padding: 0 15px;
}
.button-tournament:hover {
    background: #999999;
    color: #000000;
}

/*end button start tournament styles*/

.back-to-leagues {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

.leagues-view, .teams-view {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    -webkit-justify-content: space-around; /* Safari */
    justify-content: space-around;
}

.one-league {
    margin: 5px;
    padding: 1px 5px;
    color: #708090;
    cursor: pointer;
    border: 1px solid #999999;
    display: block;
}

.deactivated {
    display: none;
}

.activated {
    display: inline-block;
}

.highlighted-block {
    border: 1px solid #999999;
    padding: 2px 5px;
    background: #999999;
    border-radius: 5px;
}

.one-team, .one-team-in-basket {
    margin: 5px;
    cursor: pointer;
}

.baskets-number {
    width: 40px;
    border: none;
    padding: 0 5px;
    font-weight: 600;
    color: #000000;
}

.chosen-team {
    text-align: left;
    cursor: pointer;
}

.teams-to-current-player, .current-basket-id {
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
}

.teams-to-players-view, .teams-in-basket-view {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.chosen-team-to-player {
    margin: 5px;
    cursor: pointer;
}

.manage-baskets, .clean-teams-to-players {
    outline: 1px solid #999999;
    background: #999999;
    padding: 1px 5px;
    color: #FFFFFF;
}

.previous-basket, .next-basket {
    cursor: pointer;
    font-weight: 600;
}

/*start modal window style*/

.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
}

.overlay.open {
    opacity: 1;
    pointer-events: inherit;
}

.overlay .modal-start {
    background: white;
    text-align: center;
    padding: 20px 40px;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.35);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
    margin-bottom: 38px;
}

.overlay .modal-start.open {
    opacity: 1;
    pointer-events: inherit;
}

.overlay .modal-start.open .content {
    transform: translate(0, 0px);
    opacity: 1;
}

.overlay .modal-start .content {
    transform: translate(0, -10px);
    opacity: 0;
    transition: 0.35s ease-in-out;
}

.overlay .modal-start .title {
    margin-top: 0;
}

/*end modal window style*/

/*start media requests*/
@media (max-width: 600px) {
    .site-branding, .footer-wrapper {
        display: none;
    }

    #primary-menu {
        background-color: #FFFFFF;
    }
}